body {
    background-image: url(img/trianglify.png);
    background-size: cover; 
}
.container{
    padding-top: 20vh; 
}
.card{
    background-color: rgba(255, 250, 250, 0.7);
}
.card-title{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 10em;
    color: #FFBFC5;
}